<div class="profile-container">
    <table class="profile-table">
        <tr>
            <td>
                <label>Name:</label>
            </td>
            <td>
                <span>{{ user.name }}</span>
            </td>
        </tr>
        <tr>
            <td>
                <label>Phone Number:</label>
            </td>
            <td>
                <span>{{ user.phoneNumber }}</span>
            </td>
        </tr>

        <tr>
            <td>
                <label>Email:</label>
            </td>
            <td>
                <span>{{ user.email}}</span>
            </td>
        </tr>

        <tr>
            <td>
                <label>Address:</label>
            </td>
            <td>
                <span>{{ user.address }}</span>
            </td>
        </tr>

        <tr>
            <td>
                <label>Gender:</label>
            </td>
            <td>
                <span>{{ user.gender }}</span>
            </td>
        </tr>

        <tr>
            <td>
                <label>Date of Birth:</label>
            </td>
            <td>
                <span>{{ user.DOB }}</span>
            </td>
        </tr>
    </table>
</div>
