
   <table class="table-container">
    <tr>
      <td *ngFor="let book of books">
        <div class="image-card">
          <img [src]="book.imageSrc" alt="Avatar" class="table-image">
          <div class="table-overlay">
            <button class="table-text" (click)="showDialog()" >Add to cart </button></div>
            <p-dialog header="Login to Add to cart" [(visible)]="visible" [style]="{width: '40vw', height:'40vw'}">
              <p>
              <app-login></app-login> 
              </p>
          </p-dialog>
          <div class="author-text">{{ book.name }} <br> {{ book.author}}</div>
        </div>
      </td>
    </tr>
  </table>

  <div class="icon-container">
    <a href="">
      <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-arrow-right-square-fill" viewBox="0 0 16 16">
        <path d="M0 14a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2a2 2 0 0 0-2 2zm4.5-6.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5a.5.5 0 0 1 0-1"/>
      </svg>
    </a>
  </div>
  <div class="line-container"></div>
  