<table class="table-container">
  <tr>
    <td *ngFor="let book of books">
      <div class="image-card">
        <img [src]="imageSrc" alt="Book Image" class="table-image">
        <div class="table-overlay">
          <button class="table-text" (click)="showDialog()">Add to cart </button>
        </div>
        <div class="author-text">{{ book.title }} <br> {{ book.author }}</div>
      </div>
    </td>
  </tr>
</table>

<div class="arrow-container">
  <a href="http://localhost:4200/viewall">View All
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-arrow-right-circle-fill" viewBox="0 0 16 16">
      <path d="M7.646 4.646a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.793 8 7.646 4.854a.5.5 0 0 1 0-.708z" />
    </svg>
  </a>
</div>
<div class="line-container"></div>


<!-- <table class="table-container">
  <tr>
    <td *ngFor="let book of books">
      <div class="image-card">
        <img [src]="book.imageSrc" alt="Avatar" class="table-image">
        <div class="table-overlay">
          <button class="table-text" (click)="showDialog()">Add to cart </button>
        </div>
        <p-dialog header="Login to Add to cart" [(visible)]="visible" [style]="{width: '40vw', height:'40vw'}">
          <p>
            <app-login></app-login>
          </p>
        </p-dialog>
        <div class="author-text">{{ book.name }} <br> {{ book.author}}</div>
      </div>
    </td>
  </tr>
</table>

<div class="arrow-container">
  <a href="http://localhost:4200/viewall">View All<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
      fill="currentColor" class="bi bi-arrow-right-circle-fill" viewBox="0 0 16 16">
      <path
        d="M7.646 4.646a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.793 8 7.646 4.854a.5.5 0 0 1 0-.708z" />
    </svg></a>
</div>
<div class="line-container"></div> -->