<footer class="footer">
    <div class="footer-column">
        <h4>Company</h4>
        <ul>
            <li>About Us</li>
            <li>Career</li>
            <li>Blog</li>
            <li>Contact Us</li>
        </ul>
    </div>
    <div class="footer-column">
        <h4>Policies</h4>
        <ul>
            <li>Privacy Policies</li>
            <li>Terms of Use</li>
            <li>Secure Shopping</li>
            <li>Copyright Policy</li>
        </ul>
    </div>
    <div class="footer-column">
        <h4>Help</h4>
        <ul>
            <li>Payment</li>
            <li>Shipping</li>
            <li>Return</li>
            <li>FAQ</li>
        </ul>
    </div>
    <div class="footer-column">
        <h4>Other</h4>
        <ul>
            <li>Request a book</li>
            <li>Donate a Book</li>
        </ul>
    </div>
    <div class="footer-copy">
        <p>&copy; 2024 LOST LIBRARIES. All Rights Reserved.</p>
    </div>
</footer>

