button {
    background-color: #214358;
    color: #EEEEEE;
    height: 3rem;
    font-size: larger;
    border-radius: 2rem;
    width: 20rem;
    box-shadow: none;
    margin-top: 10px;
    margin-left: 4.5rem; 
} 

form{
    margin-top: 3rem;
    margin-bottom: 3rem;
}

a{
    color:#214358;
}

