<div class="topnav">
    <img src="../../../assets/Lost Library Logo.png" alt="Logo" class="logo">
    <a routerLink="home"><b>ADMIN</b></a>
    <a><b>Add</b></a> 
    <a><b>View</b></a> 
    <a><b>Orders</b></a> 
    <a ><b>Login</b></a>  
    <a><b>Log out</b></a>       
  </div>
  <app-book-icons></app-book-icons>
  <app-book-grid></app-book-grid>
  <h2 class="heading">New Arrivals</h2>
  <app-new-arrival></app-new-arrival>
  <h3 class="heading">Best Sellers</h3>
  <app-best-seller></app-best-seller>
  <app-authors></app-authors>
  <app-footer></app-footer>
