.topnav {
    background-color: #214358;
    overflow: hidden;
    padding: 10px;
    overflow: visible;
    display: flex;
    justify-content: space-between;
  }
  
  .logo {
    max-height: 60px;
    margin-right: 20px;
  }
  
  
  .topnav a {
    float: right;
    color:#d5d8db;
    text-decoration: none;
    font-size: 20px;
    padding: 10px;
    margin-left: 10rem;
    justify-content: left;
  }