<div class="topnav">
    <img src="../../../assets/Lost Library Logo.png" alt="Logo" class="logo">
    <a routerLink="home"><b>SELLER DASHBOARD</b></a>
    <a><b>View</b></a> 
    <a (click)="showDialog()" ><b>Add</b></a> 
<p-dialog header="Add Book" [(visible)]="visible" [modal]="true" [style]="{ width: '50vw' }" [draggable]="false" [resizable]="false">
   <app-add-book></app-add-book>
</p-dialog> 
    <a><b>Login</b></a>        
  </div>
  <app-book-icons></app-book-icons>
  <app-book-grid></app-book-grid>
  <h2 class="heading">New Arrivals</h2>
  <app-new-arrival></app-new-arrival>
  <h3 class="heading">Best Sellers</h3>
  <app-best-seller></app-best-seller>
  <app-authors></app-authors>
  <app-footer></app-footer>
