<div class="carousel">
  <div class="slide"><img src="../../../assets/img.avif" ></div>
  <div class="slide">34</div>
  <div class="slide">45</div>
  <div class="slide">66</div>
</div>



<!-- <div class="carousel-container">
  <div class="carousel-wrapper">
    <div class="carousel-item">
      <img src="../../../assets/imgeC.jpeg" alt="Book 1" class="book-image">
      <div class="image-text">Uncover the magic between the pages</div>
    </div>
    <div class="carousel-item">
      <img src="../../../assets/imgeC.jpeg" alt="Book 2" class="book-image">
      <div class="image-text">Book 2 Title</div>
    </div>
    <div class="carousel-item">
      <img src="../../../assets/imgeC.jpeg" alt="Book 3" class="book-image">
      <div class="image-text">Book 3 Title</div>
    </div>
  </div>
</div>
 -->
