<div class="carousel-container">
  <div class="carousel-wrapper">
    <div class="carousel-item">
      <img src="../../../assets/img_c4.jpeg" alt="Book 1" class="book-image">
      <div class="image-text">Uncover the magic between the pages</div>
    </div>
    <div class="carousel-item">
      <img src="../../../assets/img_c5.jpeg" alt="Book 2" class="book-image">
      <div class="image-text">Book 2 Title</div>
    </div>
    <div class="carousel-item">
      <img src="../../../assets/img_c6.jpeg" alt="Book 3" class="book-image">
      <div class="image-text">Book 3 Title</div>
    </div>
  </div>

  <button class="carousel-btn prev" onclick="plusSlides(-1)">&#10094;</button>
  <button class="carousel-btn next" onclick="plusSlides(1)">&#10095;</button>
</div>

<!-- 7 
4
3
2
1-->