<!-- book-carousel.component.html -->
<div class="carousel-container">
    <div class="carousel-wrapper">
      <div class="carousel-item"><img src="../../../assets/img.avif" alt="Book 1" class="book-image"></div>
      <div class="carousel-item"><img src="../../../assets/img.avif" alt="Book 2" class="book-image"></div>
      <div class="carousel-item"><img src="../../../assets/img.avif" alt="Book 3" class="book-image"></div>
      <!-- Add more book images as needed -->
    </div>
    
    <button class="carousel-btn prev" onclick="plusSlides(-1)">&#10094;</button>
    <button class="carousel-btn next" onclick="plusSlides(1)">&#10095;</button>
  </div>
  