

<div class="flex justify-content-center">
    <form [formGroup]="registerForm" (ngSubmit)="submitDetails()">
      <p-card header="Register" [style]="{width :'500px'}">
        <p class="m-0">
          <div class="field">
            <label for="fullName">Full Name</label>
            <input type="text" pInputText formControlName="fullName" class="w-full" name="fullName"
              [placeholder]="fullNamePlaceholder" (focus)="clearPlaceholder('fullName')" />
            <small *ngIf="fullName.invalid && (fullName.dirty || fullName.touched)" class="block p-error">
              <div *ngIf="fullName.errors?.['required']">Name is required</div>
              <div *ngIf="fullName.errors?.['pattern']">Enter a valid name</div>
            </small>
          </div>
  
          <div class="field">
            <label for="email">Email</label>
            <input type="email" pInputText formControlName="email" class="w-full" name="email"
              [placeholder]="emailPlaceholder" (focus)="clearPlaceholder('email')" />
            <small *ngIf="email.invalid && (email.dirty || email.touched)" class="block p-error">
              <div *ngIf="email.errors?.['required']">Email is required</div>
              <div *ngIf="email.errors?.['email']">Email should be valid</div>
            </small>
          </div>
  
          <div class="field">
            <label for="password">Password</label>
            <input type="password" pInputText formControlName="password" class="w-full" name="password"
              [placeholder]="passwordPlaceholder" (focus)="clearPlaceholder('password')" />
            <small *ngIf="password.invalid && (password.dirty || password.touched)" class="block p-error">
              <div *ngIf="password.errors?.['required']">Password is required</div>
              <div *ngIf="password.errors?.['pattern']">
                Password should be at least 8 characters and contain at least one lowercase letter, one uppercase letter, and one special character.
              </div>
            </small>
          </div>
  
          <div class="field">
            <label for="confirmPassword">Confirm Password</label>
            <input type="password" pInputText formControlName="confirmPassword" class="w-full" name="confirmPassword"
              [placeholder]="confirmPasswordPlaceholder" (focus)="clearPlaceholder('confirmPassword')" />
            <small *ngIf="confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched)"
              class="block p-error">
              <div *ngIf="confirmPassword.errors?.['required']">Confirm the Password</div>
            </small>
            <small class="block p-error"
              *ngIf="registerForm.errors?.['passwordMismatch'] && confirmPassword.valid && password.valid">
              Passwords should match
            </small>
          </div>
  
          <div class="justify-content-center">
            <button [disabled]="!registerForm.valid" label="Submit" type="submit">Register</button>
            <!-- <p-button [disabled]="!registerForm.valid" label="Submit" type="submit"></p-button> -->
          </div>
          <div class="mt-2">
            Already a member? <a routerLink="/login">login</a>
          </div>
        </p-card>
      </form>
    </div>
  