.heading {
  margin-top: 2rem;
  margin-left: 45%;
  margin-right: 30%;
  color: black;
  font-size: 2rem;
  cursor: pointer;
  transition: font-size 1s ease; 
}

.heading:hover {
  font-size: 2.5rem; 
}
