
.topnav {
  background-color: #eeeeee;
  overflow: hidden;
  padding: 10px;
}

.topnav a {
  float: right;
  color: hsla(154, 76%, 24%, 0.761);
  text-decoration: none;
  font-size: 22px;
  padding: 10px;
}


.dropdown {
  position: relative;
  display: inline-block;
  float: right;
}

.dropbtn {
  background-color: #eeeeee; 
  color: hsla(154, 76%, 24%, 0.761);
  text-decoration: none;
  font-size: 22px;
  padding: 10px;
  border: none;
  cursor: pointer;
}

.dropbtn:hover {
  background-color: #ddd; 
}


.dropdown-content {
  display: none;
  position: absolute;
  background-color: #EEEEEE;
  min-width: 180px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 3;
  right: 0;
}

.dropdown-content a {
  padding: 4px 6px;
  text-decoration: none;
  display: block;
  font-size: medium;
  color: hsla(154, 76%, 24%, 0.761);
}

.dropdown-content a:hover {
  background-color: #ddd;
}


.dropdown:hover .dropdown-content {
  display: block;
}
