
<app-nav-bar></app-nav-bar>
<div class="container" href="http://localhost:4200/buynow">
    <div class="left-column">
        <app-filters></app-filters>
    </div>
    <div class="right-column">

        <div class="book-container">
            <div class="book" *ngFor="let book of books">
                <img [src]="book.url" [alt]="book.title">

                <h4>{{ book.title }}</h4>
                <h5>By {{ book.author }}</h5>
                <p>Price: Rs.{{ book.mrp*(100-book.discount)/100 }}</p>
                <div class="button-container">
                    <button class="add-to-cart" (click)="addToCart()" [innerText]="buttonText"></button>
                    <button (click)="bookDetail()" (click)="setCurrentBook(book)" class="buy-now">Buy Now</button>
                    <p-dialog [(visible)]="showbook" [style]="{ width: '40vw' }" [modal]="true"
                        [draggable]="false" [resizable]="false">
                        <app-purcahse-now [book]='currentBook'>
                        </app-purcahse-now>
                    </p-dialog>
                </div>

            </div>
        </div>

    </div>
</div>
<app-footer></app-footer>