<div class="container">
    <div class="buy-now-column">
        <img src="../../../assets/img.avif" alt="books">
        <h3>Author: John Doe</h3>
        <p>Price: $10.99</p>

        <div class="button-row">
            <button class="buy-button">Place Order</button>
            <div class="counter-button">
                <button class="counter-btn decrement-btn">-</button>
                <span class="counter-value">1</span>
                <button class="counter-btn increment-btn">+</button>
            </div>
        </div>

        <div class="book-details">
            <h5>Book Details</h5>
            <p>Description: Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <p>Publication: ABC Publications</p>
            <p>Genre: Fiction</p>
            <div class="description">
                <h5>Additional Details</h5>
                <p><span>Language:</span> English</p>
                <p><span>Binding:</span> Hardcover</p>
                <p><span>Qty Available:</span> 50</p>
                <p><span>Pages:</span> 300</p>
            </div>
        </div>
    </div>



