<table class="table-container">
    <tr>
      <td *ngFor="let book of books">
        <div class="image-card">
          <img [src]="imageSrc" alt="Book Image" class="table-image">
          <div class="table-overlay">
            <p class="table-text"><svg xmlns="http://www.w3.org/2000/svg" width="17" height="18" fill="currentColor" class="bi bi-currency-rupee" viewBox="0 0 16 16">
              <path d="M4 3.06h2.726c1.22 0 2.12.575 2.325 1.724H4v1.051h5.051C8.855 7.001 8 7.558 6.788 7.558H4v1.317L8.437 14h2.11L6.095 8.884h.855c2.316-.018 3.465-1.476 3.688-3.049H12V4.784h-1.345c-.08-.778-.357-1.335-.793-1.732H12V2H4z"/>
            </svg>BEST SELLER</p>
          </div>
          <div class="author-text">{{ book.title }} <br> {{ book.author }}</div>
        </div>
      </td>
    </tr>
  </table>
  
  <div class="arrow-container">
    <a href="http://localhost:4200/viewall">View All<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-arrow-right-circle-fill" viewBox="0 0 16 16">
        <path d="M7.646 4.646a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.793 8 7.646 4.854a.5.5 0 0 1 0-.708z" />
      </svg>
    </a>
  </div>
  <div class="line-container"></div>
  
  
  
